<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yam.backmanage.mappers.UserMapper">



    <resultMap id="base_result_map" type="cn.yam.backmanage.entity.pojo.User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>


    <sql id="base_column_list">
        user_id,
        username
        , password
    </sql>
    <insert id="insert">
        INSERT INTO User (user_id,username, password)
        VALUES (#{userId},#{username}, #{password})
    </insert>
    <update id="update">
        UPDATE User
        SET username = #{username}
        , password = #{password}
        WHERE user_id = #{userId}
    </update>
    <delete id="deleteUser">
        DELETE FROM User WHERE user_id = #{userId}
    </delete>


    <select id="selectByUsername" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM User
        WHERE username = #{username}
    </select>
    <select id="selectByUserId" resultType="cn.yam.backmanage.entity.pojo.User">
        SELECT
        <include refid="base_column_list"/>
        FROM User
        WHERE user_id = #{userId}
    </select>
</mapper>